.google.token
client_secret_213674934335-5jciimeigstgu1hfsm40dst040k76j1j.apps.googleusercontent.com.json
config_backup.tar.gz
SERVICE_ACCOUNT.JSON
google_cloud.json
Untitled-1.txt
custom_components/
.cache/
sabnzbd.conf
*.db-wal

# Databases and Logs
*.db
*.db-shm
*.db-wal
*.log
*.log.*

# Folders to Ignore
.cloud/
backups/
media/
tts/
image_cache/
downloads/
www/

# Sensitive Data (VERY IMPORTANT)
secrets.yaml

# OS files
.DS_Store
Thumbs.db

# Ignore the entire storage folder by default
.storage/*

# BUT, allow these specific files (The "Application" metadata)
!.storage/core.entity_registry
!.storage/core.device_registry
!.storage/core.area_registry
!.storage/lovelace*
!.storage/labels.storage

# Keep these secret files BLOCKED
.storage/auth
.storage/auth_provider.homeassistant
.storage/onboarding
.storage/cloud
.storage/hassio